<%- include("../partials/head") %>

    <head>
        <title>ChapultePets - Detalle del producto</title>
    </head>

    <body>

        <main class="main-product-detail">
            <div class="product-presentation">
                <div class="product-presentation-image">
                    <img src="/img/products/<%= product.image %>" alt="">
                </div>
                <div class="product-presentation-text">
                    <h4><%= product.name %></h4>


                    <p class="product-rating-stars">
                        <%- include("../partials/rating_stars",{ rating : product.rating }) %>
                        <%= product.rating %>
                        (<%= product.reviewsAmount %>)
                    </p>


                    <p class="product-presentation-brand"><%= product.brand %></p>
                    <p class="product-presentation-price">$<%= product.price %></p>
                    <form action="">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad">
                        <button type="submit">Agregar al carrito</button>
                    </form>
                    <h4>Descripción</h4>
                    <div class="product-presentation-resume">
                        <p><%= product.description %></p>
                    </div>
                    <h4>Categorías: </h4>
                    <p>
                        <% for( let i = 0; i < product.categories.length; i++ ) { %>
                            <% if (i==product.categories.length-1) { %>
                                <%= product.categories[i].name %>. 
                            <% } else{ %>
                                <%= product.categories[i].name %>, 
                            <% } %>
                        <% } %>
                    </p>
                    


                    <div class="opinions-section">
                        <h2>Opiniones</h2>
                        <select name="cantidad" id="">
                            <option value="1 estrella">1 estrella</option>
                            <option value="2 estrellas">2 estrellas</option>
                            <option value="3 estrellas">3 estrellas</option>
                            <option value="4 estrellas">4 estrellas</option>
                            <option value="5 estrellas">5 estrellas</option>
                        </select>
                        <!-- Opinión 1 -->
                        <div>
                            <div>
                                <img src="Portrait_Placeholder.png" alt="">
                                <div>
                                    <h4>Usuario 1</h4>
                                    <p class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </p>
                                </div>
                                <p>Fecha</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam totam nemo libero
                                facere
                                fugiat consequuntur nulla, nostrum nesciunt adipisci vitae harum sint ut dignissimos
                                quam
                                dolor, deleniti est. Quibusdam.</p>
                        </div>

                        <!-- Opinión 2 -->
                        <div>
                            <div>
                                <img src="Portrait_Placeholder.png" alt="">
                                <div>
                                    <h4>Usuario 2</h4>
                                    <p class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </p>
                                </div>
                                <p>Fecha</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam totam nemo libero
                                facere
                                fugiat consequuntur nulla, nostrum nesciunt adipisci vitae harum sint ut dignissimos
                                quam
                                dolor, deleniti est. Quibusdam.</p>
                        </div>
                    </div>
        </main>

        <!-- Pie de página -->
        <%- include("../partials/footer") %>

    </body>

    </html>