<%- include("./partials/head") %>

    <head>
        <title>ChapultePets - Inicio</title>
    </head>

    <body class="index">

        <%- include("./partials/header") %>

        <main class="index">
            <div class="carousel">
                <img src="img/banner_placeholder.png" alt="">
                <button class="carousel-left-button">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <button class="carousel-right-button">
                    <i class="fas fa-arrow-right"></i>
                </button>
                <p>Descripción del carrusel</p>
            </div>

            <!-- div para todo lo que va debajo del carrusel :v -->
            <div class="div-principal">
                <!-- Div de categorías -->
                
                <ul class="home-logo-bar">
                    <h1>Categorías</h1>
                    <li>
                        <a href="/products/categories/2">
                            <!-- <img src="img/general_placeholder.png" alt=""> -->
                            <h4><i class="fas fa-dog"></i></h4>
                            <p>Perro</p>
                        </a>
                    </li>
                    <li>
                        <a href="/products/categories/1">
                            <h4><i class="fas fa-cat"></i></h4>
                            <p>Gato</p>
                        </a>
                    </li>
                    <li>
                        <a href="/products/categories/12">
                            <!-- <img src="img/general_placeholder.png" alt=""> -->
                            <h4><i class="fas fa-fish"></i></h4>
                            <p>Peces</i></p>
                        </a>
                    </li>
                    <li>
                        <a href="/products/categories/9">
                            <!-- <img src="img/general_placeholder.png" alt=""> -->
                            <h4><i class="fas fa-crow"></i></h4>
                            <p>Aves</p>
                        </a>
                    </li>
                    <li>
                        <a href="/products/categories/5">
                            <!-- <img src="img/general_placeholder.png" alt=""> -->
                            <h4><i class="fas fa-dragon"></i></h4>
                            <p>Reptiles</p>
                        </a>
                    </li>
                    <li>
                        <a href="/products/categories/9">
                            <!-- <img src="img/general_placeholder.png" alt=""> -->
                            <h4><i class="fas fa-otter"></i></h4>
                            <p>Roedores</p>
                        </a>
                    </li>
                </ul>

                
                <!-- Div de muestra de artículos -->
                
                <div class="product-window">
                    <h1>Todos nuestros productos</h1>
                    <% for(let i=0;i<products.length;i++){ %>
                            
                        <a href="/products/<%= products[i].id %>">
                            <article>
                                <img src="/img/products/<%= products[i].image %> " alt="">
                                <h4>
                                    <%= products[i].name %>
                                </h4>
                                <!-- casillero de estrellas -->
                                <p class="product-rating-stars">
                                    <%- include("./partials/rating_stars",{ rating : products[i].rating }) %>
                                        <%= products[i].rating %>
                                            (<%= products[i].reviewsAmount %> )
                                </p>
                                <p class="product-price">$<%= products[i].price %>
                                </p>
                                <p class="product-brand">
                                    <%= products[i].brand %>
                                </p>
                            </article>
                        </a>
                        <% } %>
                </div>

                <!-- div de recomendaciones -->
                
                <div class="recommendation-bar">
                    <h1>Nuestras recomendaciones</h1>
                    <img src="/img/general_placeholder.png" alt="">
                    <img src="/img/general_placeholder.png" alt="">
                    <img src="/img/general_placeholder.png" alt="">
                    <img src="/img/general_placeholder.png" alt="">
                    <img src="/img/general_placeholder.png" alt="">
                </div>

                <!-- div de cambio de página -->
                <div class="page-changer">
                    <a href=""><i class="fas fa-arrow-left"></i> Anterior </a>
                    <a href="">1 </a>
                    <a href="">2 </a>
                    <a href="">3 </a>
                    <a href="">4 </a>
                    <a href="">5 </a>
                    <a href="">Siguiente <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </main>

        <!-- Configuración del Pie de página -->
        <%- include("./partials/footer") %>

    </body>

    </html>
