<%- include("./partials/head") %>
    sds

    <head>
        <title>ChapultePets - Inicio</title>
    </head>

    <body class="index">

        <%- include("./partials/header") %>

            <main>
                <div class="carousel">
                    <img src="img/banner_placeholder.png" alt="">
                    <button class="carousel-left-button">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <button class="carousel-right-button">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                    <p>Descripción del carrusel</p>
                </div>

                <!-- div para todo lo que va debajo del carrusel :v -->
                <div>
                    <!-- Div de categorías -->
                    <h1>Categorías</h1>
                    <ul class="home-logo-bar">
                        <li>
                            <img src="img/general_placeholder.png" alt="">
                            <p>logo categoría 1</p>
                        </li>
                        <li>
                            <img src="img/general_placeholder.png" alt="">
                            <p>logo categoría 2</p>
                        </li>
                        <li>
                            <img src="img/general_placeholder.png" alt="">
                            <p>logo categoría 3</p>
                        </li>
                        <li>
                            <img src="img/general_placeholder.png" alt="">
                            <p>logo categoría 4</p>
                        </li>
                        <li>
                            <img src="img/general_placeholder.png" alt="">
                            <p>logo categoría 5</p>
                        </li>
                        <li>
                            <img src="img/general_placeholder.png" alt="">
                            <p>logo categoría 6</p>
                        </li>
                    </ul>

                    <h1>Todos nuestros productos</h1>
                    <!-- Div de muestra de artículos -->
                    <div class="product-window">

                        <% for(let i=0;i<products.length;i++){ %>
                            <article>
                                <img src="/img/products/<%= products[i].image %> " alt="">
                                <h4>
                                    <%= products[i].name %>
                                </h4>
                                <!-- casillero de estrellas -->

                                <p class="product-rating-stars">

                                    <%- include("./partials/rating_stars",{ rating : products[i].rating }) %>

                                        <%= products[i].rating %>

                                            (<%= products[i].reviewsAmount %> )
                                </p>
                                <p class="product-price">$<%= products[i].price %>
                                </p>
                                <p class="product-brand">
                                    <%= products[i].brand %>
                                </p>
                            </article>
                            <% } %>

                                <!-- <article>
                    <img src="/img/general_placeholder.png" alt="">
                    <h4>Nombre del producto</h4> -->

                                <!-- casillero de estrellas -->

                                <!-- <p class="product-rating-stars">
                        <i class="fas fa-star stars"></i>
                        <i class="fas fa-star stars"></i>
                        <i class="fas fa-star-half-alt stars"></i>
                        <i class="far fa-star stars"></i>
                        <i class="far fa-star stars"></i>
                        (19)
                    </p>
                    <p class="product-price">$00.00</p>
                    <p class="product-brand">Marca</p>
                </article>                        -->

                    </div>
                    <!-- div de recomendaciones -->
                    <h1>Nuestras recomendaciones</h1>
                    <div class="recommendation-bar">
                        <img src="/img/general_placeholder.png" alt="">
                        <img src="/img/general_placeholder.png" alt="">
                        <img src="/img/general_placeholder.png" alt="">
                        <img src="/img/general_placeholder.png" alt="">
                        <img src="/img/general_placeholder.png" alt="">
                    </div>

                    <!-- div de cambio de página -->
                    <div class="page-changer">
                        <a href=""><i class="fas fa-arrow-left"></i> Anterior </a>
                        <a href="">1 </a>
                        <a href="">2 </a>
                        <a href="">3 </a>
                        <a href="">4 </a>
                        <a href="">5 </a>
                        <a href="">Siguiente <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </main>

            <!-- Configuración del Pie de página -->
            <%- include("./partials/footer") %>

    </body>

    </html>
