<%- include("../partials/head") %> 
<head>
    <title>ChapultePets - Carrito de Compras</title>
</head>

<body>
    <%- include("../partials/header") %>

    <main>
        <h1>Bienvenido <%= userLogged.nombreUsuario%> </h1>
        <img src="/img/users/<%=userLogged.imagenPerfil%> " alt="Imagen de perfil">
    </main>

    <%- include("../partials/footer") %>
</body>
</html>