<%- include("../partials/head") %>

    <head>
        <title>ChapultePets - Registro</title>
    </head>

    <body class="register">

        <!-- Configuración del main -->
        <main class="register">
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <div class="logo-container">
                    <a href="/">
                        <img src="/img/logo_mobile.png" alt="" class="main-logo">
                    </a>
                </div>

                <p>Encuentra tus productos favoritos con una cuenta personalizada.</p>

                <p>
                    <input 
                    type="text" 
                    name="nombreUsuario" 
                    placeholder="Nombre de usuario"  
                    style="width: 100%;"
                    class=<%=(locals.errors && errors.nombreUsuario) ? "caja-errorr" : "nombreUsuario" %> 
                    value= "<%= locals.old && old.nombreUsuario ? old.nombreUsuario: ""; %>">
                </p>
                <%if (locals.errors && errors.nombreUsuario) { %>
                    <p class="errorMessager">
                        *<%= errors.nombreUsuario.msg%>
                    </p>
                    <% } %>
                <p>
                    <input 
                    type="text" 
                    name="nombrePila" 
                    placeholder="Nombre(s)" 
                    class=<%=(locals.errors && errors.nombrePila) ? "caja-errorr" : "nombrePila" %>
                    style="width: 100%;" 
                    value= "<%= locals.old && old.nombrePila ? old.nombrePila: ""; %>">
                </p>
                <%if (locals.errors && errors.nombrePila) { %>
                    <p class="errorMessager">
                        *<%= errors.nombrePila.msg%>
                    </p>
                    <% } %>

                <p>
                    <input 
                    type="text" 
                    name="apellido" 
                    id="" 
                    placeholder="Apellido(s)" 
                    class=<%=(locals.errors && errors.apellido) ? "caja-errorr" : "apellido" %> 
                    style="width: 100%;"
                    value= "<%= locals.old && old.apellido ? old.apellido: "";%>">
                </p>
                <%if (locals.errors && errors.apellido) { %>
                    <p class="errorMessager">
                        *<%= errors.apellido.msg%>
                    </p>
                    <% } %>

                <p>
                    <input 
                    type="password" 
                    name="password" 
                    placeholder="Contraseña" 
                    id=""
                    class=<%=(locals.errors && errors.password) ? "caja-errorr" : "password" %>
                    style=" width: 100%;"
                    value= "<%= locals.old && old.password ? old.password: ""; %>" >
                </p>
                <%if (locals.errors && errors.password) { %>
                    <p class="errorMessager">
                        *<%= errors.password.msg%>
                    </p>
                    <% } %>

                <p>
                    <input 
                    type="password" 
                    name="confirmacionPassword"  
                    placeholder="Confirmar contraseña"
                    id="" 
                    class=<%=(locals.errors && errors.password) ? "caja-errorr" : "confirmarContraseña" %> 
                    style="width: 100%;" 
                    value= "<%= locals.old && old.email ? old.email: ""; %>">
                </p>

                <p>
                    <input 
                    type="email" 
                    name="email" 
                    id="" 
                    placeholder="Correo electrónico" 
                    class=<%=(locals.errors && errors.email) ? "caja-errorr" : "correo" %>
                        style="width: 100%;" >
                </p>
                <%if (locals.errors && errors.email) { %>
                    <p class="errorMessager">
                        *<%= errors.email.msg%>
                    </p>
                    <% } %>

                <p>
                    <input 
                    type="number" 
                    name="telefono" 
                    id=""  
                    placeholder="Numéro Telefónico (10 Dígitos)"
                    class=<%=(locals.errors && errors.telefono) ? "caja-errorr" : "tel" %>
                    style="height: 30px; width: 100%;"
                        value= "<%= locals.old && old.telefono ? old.telefono: "";%>">
                </p>
                <%if (locals.errors && errors.telefono) { %>
                    <p class="errorMessager">
                        *<%= errors.telefono.msg%>
                    </p>
                    <% } %>
                <p class="avatarPicture">
                    <label name="avatarPicture">Foto de perfil:</label>
                    <input type="file" name="avatarPicture" id="" class="avatarPicture"
                        style="height: 30px; width: 100%;">
                </p>

                <p>
                    <button type="submit" class="" style="width: 100%;">Registrar</button>
                </p>

            </form>
        </main>
        <!-- Configuración del Pie de página -->
        <footer class="formulario">
            <%- include("../partials/footerFormularioUsuario") %>
        </footer>

    </body>

    </html>